/* @group Page */

#page{
    #single{
        .title.absolute{
            top: -25px;
            left: 60px;
        }
        &.fullcover{
            .featured-image{
                margin-bottom: $section-padding;
                div.info{
                    position: absolute;
                    max-width: none;
                    .title{ font-size: 38px; }
                }
            }

        }
    }
}

/* @end */