
h1{ font-size: 26px; }
h2{ font-size: 24px; }
h3{ font-size: 22px; }
h4{ font-size: 20px; }
h5{ font-size: 18px; }
h6{ font-size: 16px; }

.title{
	font-family: $title-font-family;
	font-weight: $title-font-weight;
	font-size: $title-font-size;
    margin-bottom: 40px;
    line-height: 1.35;
    letter-spacing: 0.5px;
    color: $titles-color;
    a{
        color: $titles-color;
        &:hover{
            color: $titles-color !important;
        }
    }
	&.ularge{
		font-size: 60px;
        margin-bottom: 30px;
        line-height: 1.2;		
	}
	&.large{ font-size: 34px; line-height: 1.2; }
	&.medium{ font-size: 20px; line-height: 1.4; margin-bottom: 30px; }
	&.small{ font-size: 18px; margin-bottom: 10px; font-weight: 700; }
	&.usmall{ font-size: 15px; margin-bottom: 5px; letter-spacing: 0.25px; font-weight: 700; }
    &.white{ color: #fff; }
    &.letter-decoration ::first-letter{
        color: $main-color;
    }
	&.bordered{
       padding: 4px 25px;
       background: $white;
       border: 1px solid $border-color;
       border-radius: $large-border-radius;
        &.small-border-radius{
            border-radius: $small-border-radius;
        }
        &.medium-border-radius{
            border-radius: $medium-border-radius;
        }
    }
    &.absolute{
        position: absolute;
        left: 40px;
        top: -20px;
        z-index: 2;
    }
    &.inline{
        color: black;
        background: #fff;
        padding: 8px 10px;
        border: 1px solid $border-color;
        border-radius: $small-border-radius;
        text-align: center;
        a{
            display: inline-block;
            text-align: center;
        }
    }
    &.bold{ font-weight: bold !important; }
}
